#body-row {
    margin:0;
    padding: 0;


}
.row h2{
    color: rgb(54, 25, 39);
    font-family: Arial Black;
}
#sidebar-container {
    height: 100vh;
    background-color: #474949;
}
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}


#sidebar-container .list-group a {
    height: 55px;
    color: rgb(251, 252, 248);
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}


#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;


}
.sidebar-submenu {
    font-size: 0.9rem;
}
.sidebar-separator-title {
    background-color: rgb(37, 136, 194);
    height: 35px;
}
.sidebar-separator-title small{
    color: rgb(54, 51, 51);
    font-size: 20px;
    font-weight: bold;
}
.sidebar-separator {
    background-color: rgb(221, 52, 52);
    height: 25px;
}
.logo-separator {
    background-color: rgb(95, 7, 7);
    height: 60px;
}
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

.logo img{
    width: 120px;
    height: 70px;
    margin-top: 10px;
    border-radius: 50px;
    margin-left: -40px;

}
.container{
    margin-left: 20px;
    margin-top: 30px;
}
.pull-right{
    margin-left: 0;
    margin-top: 30px;
}
.logop img {
    width: 120px;
    height: 70px;
    margin-top: -15px;
    border-radius: 90px;

}
.logop h2{
  color: rgb(7, 14, 15);
  margin-left: 130px;
  margin-top: -60px;
  font-size: 20px;
}
.logop strong{
    color: rgb(245, 233, 233);
}
.logop h6{
    margin-left: 130px;
  margin-top: -12px;
  color: hsl(0, 70%, 34%);
}
.col{
    margin-left:0;
    margin-top: 0;
    padding: 0;
    width: auto;
    height: auto;
    overflow-y: auto;
    overflow-x: scroll;
}
.icon{
    margin-left: auto;
}
.button
{
    color: blue;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
